body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}
.result {
    font-size: 1.5em;
    margin-top: 20px;
}
.button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: #e08d0f;
    color: rgb(202, 26, 26);
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #2f1cd3;
}